#movies img,
#movie img {
  width: 100%;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 300px;
  }
}

#movies {
  padding-bottom: 5%;
}

img {
  padding-top: 10%;
}

.well {
  padding-top: 5%;
  padding-left: 1%;
  padding-bottom: 5%;
}

.container {
  text-align: center;
}

ul {
  list-style-type: none;
}
